/**
 * Properties shared by multiple utilities. Kept in separate import for projects
 * that wish to import these utility classes individually.
 *
 * Note: In the future, this may be easier to maintain if utilities are broken
 * out into separate packages, a la components.
 */

:root {
  --core-border-width: 2px;
  --core-border-radius-sm: 0.25rem;
  --core-border-radius-md: 0.5rem;
  --core-border-radius-lg: 1rem;
}

/**
 * TODO: Not 100% sure where to put these yet.
 */

:root {
  --core-color-blue: blue;
  --core-color-blue-dark: darkblue;
  --core-color-cyan: cyan;
  --core-color-cyan-light: lightcyan;
  --core-color-gray: gray;
  --core-color-green: green;
  --core-color-green-dark: darkgreen;
  --core-color-orange: orange;
  --core-color-pink: pink;
  --core-color-purple: purple;
  --core-color-purple-light: violet;
  --core-color-red: red;
  --core-color-white: white;
  --core-color-yellow: yellow;
}

/**
 * Size definitions imported here to remain at top-level
 * (outside of media query)
 *
 * 1. base & ratio define a modular scale to be used with
 *    the following scaled sizes (rem-based, by default)
 */

:root {
  --core-scale-base: 1; /* 1 */
  --core-scale-ratio: 1.25; /* 1 */

  --core-size: calc(var(--core-scale-ratio) * var(--core-scale-base) * 1rem);
  --core-size1: calc(var(--core-scale-ratio) * var(--core-size));
  --core-size2: calc(var(--core-scale-ratio) * var(--core-size1));
  --core-size3: calc(var(--core-scale-ratio) * var(--core-size2));
  --core-size4: calc(var(--core-scale-ratio) * var(--core-size3));
  --core-size5: calc(var(--core-scale-ratio) * var(--core-size4));
  --core-size6: calc(var(--core-scale-ratio) * var(--core-size5));
  --core-size-1: calc(-1 * var(--core-scale-ratio) * var(--core-size));
  --core-size-2: calc(-1 * var(--core-scale-ratio) * var(--core-size1));
  --core-size-3: calc(-1 * var(--core-scale-ratio) * var(--core-size2));
  --core-size-4: calc(-1 * var(--core-scale-ratio) * var(--core-size3));
  --core-size-5: calc(-1 * var(--core-scale-ratio) * var(--core-size4));
  --core-size-6: calc(-1 * var(--core-scale-ratio) * var(--core-size5));
}
