/** @define utilities */

.u-bgBlueDark {
  background-color: var(--core-color-blue-dark) !important;
}

.u-bgBlue {
  background-color: var(--core-color-blue) !important;
}

.u-bgCyan {
  background-color: var(--core-color-cyan) !important;
}

.u-bgCyanLight {
  background-color: var(--core-color-cyan-light) !important;
}

.u-bgGreenDark {
  background-color: var(--core-color-green-dark) !important;
}

.u-bgGreen {
  background-color: var(--core-color-green) !important;
}

.u-bgRed {
  background-color: var(--core-color-red) !important;
}

.u-bgYellow {
  background-color: var(--core-color-yellow) !important;
}

.u-bgPurple {
  background-color: var(--core-color-purple) !important;
}

.u-bgPurpleLight {
  background-color: var(--core-color-purple-light) !important;
}

.u-bgPink {
  background-color: var(--core-color-pink) !important;
}

.u-bgOrange {
  background-color: var(--core-color-orange) !important;
}

.u-bgWhite {
  background-color: var(--core-color-white) !important;
}
