/** @define utilities */

/**
 * Style and dimensions
 */

.u-border,
.u-borderTop,
.u-borderEnds {
  border-top-style: solid !important;
  border-top-width: var(--core-border-width) !important;
}

.u-border,
.u-borderBottom,
.u-borderEnds {
  border-bottom-style: solid !important;
  border-bottom-width: var(--core-border-width) !important;
}

.u-border,
.u-borderLeft,
.u-borderSides {
  border-left-style: solid !important;
  border-left-width: var(--core-border-width) !important;
}

.u-border,
.u-borderRight,
.u-borderSides {
  border-right-style: solid !important;
  border-right-width: var(--core-border-width) !important;
}

/**
 * Colors
 */

.u-borderColorBlueDark {
  border-color: var(--core-color-blue-dark) !important;
}

.u-borderColorBlue {
  border-color: var(--core-color-blue) !important;
}

.u-borderColorCyan {
  border-color: var(--core-color-cyan) !important;
}

.u-borderColorCyanLight {
  border-color: var(--core-color-cyan-light) !important;
}

.u-borderColorGreenDark {
  border-color: var(--core-color-green-dark) !important;
}

.u-borderColorGreen {
  border-color: var(--core-color-green) !important;
}

.u-borderColorRed {
  border-color: var(--core-color-red) !important;
}

.u-borderColorYellow {
  border-color: var(--core-color-yellow) !important;
}

.u-borderColorPurple {
  border-color: var(--core-color-purple) !important;
}

.u-borderColorOrange {
  border-color: var(--core-color-orange) !important;
}

.u-borderColorWhite {
  border-color: var(--core-color-white) !important;
}

/**
 * Border radii
 */

.u-borderRadiusSm {
  border-radius: var(--core-border-radius-sm) !important;
}

.u-borderRadiusMd {
  border-radius: var(--core-border-radius-md) !important;
}

.u-borderRadiusLg {
  border-radius: var(--core-border-radius-lg) !important;
}
