/**
 * Text Color
 */

.u-textBlue {
  color: var(--core-color-blue) !important;
}

.u-textBlueDark {
  color: var(--core-color-blue-dark) !important;
}

.u-textCyan {
  color: var(--core-color-cyan) !important;
}

.u-textCyanLight {
  color: var(--core-color-cyan-light) !important;
}

.u-textGray {
  color: var(--core-color-gray) !important;
}

.u-textGreen {
  color: var(--core-color-green) !important;
}

.u-textGreenDark {
  color: var(--core-color-green-dark) !important;
}

.u-textOrange {
  color: var(--core-color-orange) !important;
}

.u-textPink {
  color: var(--core-color-pink) !important;
}

.u-textPurple {
  color: var(--core-color-purple) !important;
}

.u-textPurpleLight {
  color: var(--core-color-purple-light) !important;
}

.u-textRed {
  color: var(--core-color-red) !important;
}

.u-textWhite {
  color: var(--core-color-white) !important;
}

.u-textYellow {
  color: var(--core-color-yellow) !important;
}
