/** @define utilities */

/**
 * Flow element content into columns
 */

:root {
  --column-gap: 1rem;
}

.u-columns2 {
  column-gap: var(--column-gap);
  columns: 2;
}

.u-columns3 {
  column-gap: var(--column-gap);
  columns: 3;
}

@media (--sm-viewport) {
  .u-sm-columns1 {
    column-gap: var(--column-gap);
    columns: 1;
  }

  .u-sm-columns2 {
    column-gap: var(--column-gap);
    columns: 2;
  }
}

@media (--md-viewport) {
  .u-md-columns1 {
    column-gap: var(--column-gap);
    columns: 1;
  }

  .u-md-columns2 {
    column-gap: var(--column-gap);
    columns: 2;
  }

  .u-md-columns3 {
    column-gap: var(--column-gap);
    columns: 3;
  }
}

@media (--lg-viewport) {
  .u-lg-columns1 {
    column-gap: var(--column-gap);
    columns: 1;
  }

  .u-lg-columns2 {
    column-gap: var(--column-gap);
    columns: 2;
  }

  .u-lg-columns3 {
    column-gap: var(--column-gap);
    columns: 3;
  }
}

/**
 * Column breaks
 * 1. legacy for Firefox. Autoprefixer does not correctly
 *    handle this (as of 10/2017).
 */

.u-breakInsideAvoid {
  break-inside: avoid;
  page-break-inside: avoid; /* 1 */
}

/* stylelint-disable plugin/selector-bem-pattern */

/**
 * 1. legacy for Firefox; see above.
 */

.u-breakInsideAvoidItems > * {
  break-inside: avoid;
  page-break-inside: avoid; /* 1 */
}

/* stylelint-enable */
