/** @define utilities */

:root {
  --core-max-width-spread: 60rem;
  --core-max-width-prose: 40rem;
}

/**
 * Constrain width and center page content
 */

@media not print {
  .u-containSpread {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: var(--core-max-width-spread) !important;
  }
}

/**
 * Constrain width and center prose content
 */

@media not print {
  .u-containProse {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: var(--core-max-width-prose) !important;
  }
}

/**
 * Break out of a container utility, expanding to take up the full available
 * viewport width.
 */

.u-release {
  margin-left: calc(-50vw + 50%) !important;
  margin-right: calc(-50vw + 50%) !important;
}
