@media (--md-viewport) {
  .u-md-hidden {
    display: none !important;
  }

  .u-md-block {
    display: block !important;
  }

  .u-md-inline {
    display: inline !important;
  }

  .u-md-inlineBlock {
    display: inline-block !important;
  }
}