/** @define utilities */

/**
 * We alternate imports so that responsive `u-flex` will work intuitively with
 * other responsive display utilities.
 */

@import "suitcss-utils-display";
@import "suitcss-utils-flex/lib/flex.css";
@import "./display-sm.css";
@import "suitcss-utils-flex/lib/flex-sm.css";
@import "./display-md.css";
@import "suitcss-utils-flex/lib/flex-md.css";
@import "./display-lg.css";
@import "suitcss-utils-flex/lib/flex-lg.css";

/**
 * Custom classes
 */

.u-flexExpandSides {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-flexExpandEnds {
  margin-bottom: auto !important;
  margin-top: auto !important;
}
