@media (--sm-viewport) {
  .u-sm-hidden {
    display: none !important;
  }

  .u-sm-block {
    display: block !important;
  }

  .u-sm-inline {
    display: inline !important;
  }

  .u-sm-inlineBlock {
    display: inline-block !important;
  }
}
