@media (--lg-viewport) {
  .u-lg-hidden {
    display: none !important;
  }

  .u-lg-block {
    display: block !important;
  }

  .u-lg-inline {
    display: inline !important;
  }

  .u-lg-inlineBlock {
    display: inline-block !important;
  }
}
