/** @define utilities */

@import "suitcss-utils-layout";

/**
 * Responsive float classes
 */

@media(--sm-viewport) {
  .u-sm-floatRight {
    float: right !important;
  }

  .u-sm-floatLeft {
    float: left !important;
  }
}

@media(--md-viewport) {
  .u-md-floatRight {
    float: right !important;
  }

  .u-md-floatLeft {
    float: left !important;
  }
}

@media(--lg-viewport) {
  .u-lg-floatRight {
    float: right !important;
  }

  .u-lg-floatLeft {
    float: left !important;
  }
}
