/** @define utilities */

:root {
  --list-padding: 1rem;
}

.u-listBulleted {
  list-style-type: disc;
  padding-left: var(--list-padding);
}

.u-listNumbered {
  list-style-type: decimal;
  padding-left: var(--list-padding);
}

.u-listReset {
  list-style: none;
  padding-left: 0;
}