/** @define utilities */

@import "suitcss-utils-position";

.u-posAbsoluteBottomLeft,
.u-posAbsoluteBottomRight,
.u-posAbsoluteTopLeft,
.u-posAbsoluteTopRight {
  position: absolute !important;
}

.u-posAbsoluteBottomLeft {
  bottom: 0 !important;
  left: 0 !important;
}

.u-posAbsoluteBottomRight {
  bottom: 0 !important;
  right: 0 !important;
}

.u-posAbsoluteTopLeft {
  left: 0 !important;
  top: 0 !important;
}

.u-posAbsoluteTopRight {
  right: 0 !important;
  top: 0 !important;
}
