/** @define utilities */

@import "suitcss-utils-size";

/**
 * Sizing based on modular scale
 */

.u-sizeMs1 {
  flex-basis: auto !important;
  width: var(--core-size1) !important;
}

.u-sizeMs2 {
  flex-basis: auto !important;
  width: var(--core-size2) !important;
}

.u-sizeMs3 {
  flex-basis: auto !important;
  width: var(--core-size3) !important;
}

.u-sizeMs4 {
  flex-basis: auto !important;
  width: var(--core-size4) !important;
}

.u-sizeMs5 {
  flex-basis: auto !important;
  width: var(--core-size5) !important;
}

.u-sizeMs6 {
  flex-basis: auto !important;
  width: var(--core-size6) !important;
}
