/** @define utilities */

/**
 * Custom Mixins for Spacing
 *
 * These definitions do not produce any generated rules, but provide a base set
 * of templates for creating sizing utilities such as .u-space1 (to increase
 * margin) and .u-pad-2 (to decrease padding).
 *
 * `makeSingleSpaceUtilities` may be extended with additional sizes before
 * including the mixins.
 *
 * Example usage, with postcss-custom-media:
 *
 * @media screen and (--large-desktop) {
 *   @mixin makeSingleSpaceUtilities large-;
 * }
 *
 */

/* stylelint-disable plugin/selector-bem-pattern */

@define-mixin makePositiveSpaceUtilities $value, $suffix, $prefix {
  .u-$(prefix)space$(suffix),
  .u-$(prefix)spaceEnds$(suffix),
  .u-$(prefix)spaceTop$(suffix) {
    margin-top: $(value) !important;
  }

  .u-$(prefix)space$(suffix),
  .u-$(prefix)spaceEnds$(suffix),
  .u-$(prefix)spaceBottom$(suffix) {
    margin-bottom: $(value) !important;
  }

  .u-$(prefix)space$(suffix),
  .u-$(prefix)spaceSides$(suffix),
  .u-$(prefix)spaceLeft$(suffix) {
    margin-left: $(value) !important;
  }

  .u-$(prefix)space$(suffix),
  .u-$(prefix)spaceSides$(suffix),
  .u-$(prefix)spaceRight$(suffix) {
    margin-right: $(value) !important;
  }

  .u-$(prefix)pad$(suffix),
  .u-$(prefix)padEnds$(suffix),
  .u-$(prefix)padTop$(suffix) {
    padding-top: $(value) !important;
  }

  .u-$(prefix)pad$(suffix),
  .u-$(prefix)padEnds$(suffix),
  .u-$(prefix)padBottom$(suffix) {
    padding-bottom: $(value) !important;
  }

  .u-$(prefix)pad$(suffix),
  .u-$(prefix)padSides$(suffix),
  .u-$(prefix)padLeft$(suffix) {
    padding-left: $(value) !important;
  }

  .u-$(prefix)pad$(suffix),
  .u-$(prefix)padSides$(suffix),
  .u-$(prefix)padRight$(suffix) {
    padding-right: $(value) !important;
  }
}

@define-mixin makeNegativeSpaceUtilities $value, $suffix, $prefix {
  .u-$(prefix)pull$(suffix),
  .u-$(prefix)pullEnds$(suffix),
  .u-$(prefix)pullTop$(suffix) {
    margin-top: calc($(value) * -1) !important;
  }

  .u-$(prefix)pull$(suffix),
  .u-$(prefix)pullEnds$(suffix),
  .u-$(prefix)pullBottom$(suffix) {
    margin-bottom: calc($(value) * -1) !important;
  }

  .u-$(prefix)pull$(suffix),
  .u-$(prefix)pullSides$(suffix),
  .u-$(prefix)pullLeft$(suffix) {
    margin-left: calc($(value) * -1) !important;
  }

  .u-$(prefix)pull$(suffix),
  .u-$(prefix)pullSides$(suffix),
  .u-$(prefix)pullRight$(suffix) {
    margin-right: calc($(value) * -1) !important;
  }
}

/* stylelint-enable */

@define-mixin makeSingleSpaceUtilities $prefix {
  @mixin makePositiveSpaceUtilities var(--core-size-6), 06, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size-5), 05, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size-4), 04, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size-3), 03, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size-2), 02, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size-1), 01, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size), , $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size1), 1, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size2), 2, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size3), 3, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size4), 4, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size5), 5, $prefix;
  @mixin makePositiveSpaceUtilities var(--core-size6), 6, $prefix;
  @mixin makePositiveSpaceUtilities 0, None, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size-6), 06, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size-5), 05, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size-4), 04, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size-3), 03, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size-2), 02, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size-1), 01, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size), , $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size1), 1, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size2), 2, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size3), 3, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size4), 4, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size5), 5, $prefix;
  @mixin makeNegativeSpaceUtilities var(--core-size6), 6, $prefix;
}

