/** @define utilities */

@import "suitcss-utils-text";

:root {
  --core-line-height: calc(var(--core-scale-base) * var(--core-scale-ratio));
}

.u-textUpper {
  text-transform: uppercase;
}

.u-textUnderline {
  text-decoration: underline;
}

.u-lineHeight1 {
  line-height: var(--core-line-height);
}
