/** @define Breadcrumbs */

:root {
  --Breadcrumbs-gap: 0.5em;
  --Breadcrumbs-separator-adjust: -0.3;
  --Breadcrumbs-separator-size: 1em;
}

/**
 * 1. Display children in a row.
 * 2. Allow children to wrap in case there are a lot of breadcrumbs.
 * 3. Compensate for item gaps so that the component aligns with surrounding
 *    content (instead of being slightly inset).
 */

.Breadcrumbs {
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  margin-left: calc(var(--Breadcrumbs-gap) / -2); /* 3 */
  margin-right: calc(var(--Breadcrumbs-gap) / -2); /* 3 */
}

/**
 * Allow separators to position themselves relative to each item.
 *
 * 1. Arrange children in a vertically-centered row.
 * 2. Add gaps between elements. This will keep items apart even if separators
 *    are missing and regardless of left or right alignment.
 */

.Breadcrumbs-item {
  align-items: center; /* 1 */
  display: flex; /* 1 */
  padding-left: calc(var(--Breadcrumbs-gap) / 2); /* 2 */
  padding-right: calc(var(--Breadcrumbs-gap) / 2); /* 2 */
}

/**
 * Optional separator element.
 *
 * 1. If this is an SVG, set its default fill to match the current text color.
 * 2. Set dimensions.
 * 3. Add gap between adjacent text and separator.
 * 4. Adjust separator position so it looks correct visually.
 */

.Breadcrumbs-separator {
  fill: currentColor; /* 1 */
  height: var(--Breadcrumbs-separator-size); /* 2 */
  margin-left: calc(var(--Breadcrumbs-gap) + var(--Breadcrumbs-separator-size) * var(--Breadcrumbs-separator-adjust)); /* 3, 4 */
  margin-right: calc(var(--Breadcrumbs-separator-size) * var(--Breadcrumbs-separator-adjust)); /* 4 */
  stroke: currentColor; /* 1 */
  stroke-width: 0;
  width: var(--Breadcrumbs-separator-size); /* 2 */
}

/**
 * In case a separator was accidentally included in the last item, hide it.
 */

.Breadcrumbs-item:last-child .Breadcrumbs-separator {
  display: none;
}

/**
 * 1. Inherit the parent element's color so links look similar to separators.
 * 2. Differentiate links from other elements since the color will be the same.
 */

.Breadcrumbs-link,
.Breadcrumbs-link:matches(:hover, :focus, :active) {
  color: inherit; /* 1 */
  text-decoration: underline; /* 2 */
}
