/** @define Grid */

@import "suitcss-components-grid";

:root {
  --Grid-gutter-size: 1rem;
  --Grid-gap-size: 1rem;
}

/**
 * Modifier: gaps
 *
 * Works like Grid--withGutter, but with gaps all the way around adjacent cells
 * (not just left and right).
 */

.Grid--withGap {
  margin: calc(var(--Grid-gap-size) / -2);
}

.Grid--withGap > .Grid-cell {
  padding: calc(var(--Grid-gap-size) / 2);
}
