/**
 * Custom selectors
 */

@custom-selector :--lists ul, ol, dl;
@custom-selector :--enter :hover, :focus;

:root {
  --link-color: initial;
  --link-enter-color: inherit;
  --link-text-decoration: none;

  --hr-background-color: currentColor;
  --hr-height: 1px;
  --hr-opacity: 1;
}

/**
 * https://goo.gl/pYtbK7
 */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Restricts horizontal scrolling and hides scroll bars when using 100vw
 */

html,
body {
  overflow-x: hidden;
}

/**
 * 1. Prevent padding and border from affecting element width
 * 2. Force body to always meet viewport height
 */

html {
  box-sizing: border-box; /* 1 */
  height: 100%; /* 2 */
}

body {
  min-height: 100%; /* 2 */
}

/**
 * Removes the default spacing and border for appropriate elements.
 */

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

:--lists {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Links
 */

:any-link {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
}

:any-link:--enter {
  color: var(--link-enter-color);
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers.
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * Change the font styles in all browsers.
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

/**
 * Rules
 */

hr {
  background-color: var(--hr-background-color);
  border: none;
  height: var(--hr-height);
  opacity: var(--hr-opacity);
}

/**
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}
