/**
 * WCH Highcharts theme
 *
 * @see http://www.highcharts.com/docs/chart-design-and-style/style-by-css
 */

@import "highcharts/css/highcharts.css";

:root {
  --highcharts-font-family: inherit;
  --highcharts-font-size: inherit;
  --highcharts-font-size-large: 1.2em;
  --highcharts-font-size-small: 0.8em;
  --highcharts-heading-font-family: inherit;
  --highcharts-heading-font-weight: inherit;
  --highcharts-bold-font-family: var(--highcharts-heading-font-family);
  --highcharts-bold-font-weight: var(--highcharts-heading-font-weight);
  --highcharts-legend-font-family: var(--highcharts-heading-font-family);
  --highcharts-legend-font-weight: var(--highcharts-heading-font-weight);
  --highcharts-tooltip-color: white;
  --highcharts-tooltip-background: black;
  --highcharts-color-0: var(--highcharts-color-blue);
  --highcharts-color-1: var(--highcharts-color-green);
  --highcharts-color-2: var(--highcharts-color-purple);
  --highcharts-color-3: var(--highcharts-color-yellow);
  --highcharts-color-4: var(--highcharts-color-orange);
  --highcharts-color-5: var(--highcharts-color-red);
  --highcharts-color-6: var(--highcharts-color-pink);
  --highcharts-color-7: var(--highcharts-color-purple-light);
  --highcharts-color-8: var(--highcharts-color-cyan);
  --highcharts-color-9: currentColor;
}

/**
 * Customizations
 *
 * These can continue to be extended as charting needs grow.
 */

.highcharts-container {
  font-family: var(--highcharts-font-family);
  font-size: var(--highcharts-font-size);
}

.highcharts-data-label {
  font-weight: inherit;
}

.highcharts-title {
  font-family: var(--highcharts-heading-font-family);
  font-weight: var(--highcharts-heading-font-weight);
}

.highcharts-strong,
.highcharts-container tspan[style*="bold"] {
  font-family: var(--highcharts-bold-font-family);
  font-weight: var(--highcharts-bold-font-weight);
}

.highcharts-legend-item text {
  font-family: var(--highcharts-legend-font-family);
  font-weight: var(--highcharts-legend-font-weight);
}

.highcharts-background {
  fill: none;
}

.highcharts-title,
.highcharts-subtitle,
.highcharts-axis-title,
.highcharts-axis-labels,
.highcharts-credits,
.highcharts-credits:hover,
.highcharts-data-label text,
.highcharts-legend-item text,
.highcharts-legend-item:hover text {
  fill: currentColor;
}

.highcharts-title {
  font-size: var(--highcharts-font-size-large);
}

.highcharts-axis-labels,
.highcharts-tooltip text,
.highcharts-tooltip .highcharts-header,
.highcharts-data-label {
  font-size: var(--highcharts-font-size-small);
}

.highcharts-axis-line,
.highcharts-grid-line,
.highcharts-tick,
.highcharts-minor-grid-line {
  stroke: currentColor;
}

.highcharts-axis-line,
.highcharts-tick {
  opacity: 0.75;
}

.highcharts-grid-line,
.highcharts-credits:not(:hover) {
  opacity: 0.25;
}

.highcharts-minor-grid-line {
  opacity: 0.125;
}

/**
 * Tooltips
 */

.highcharts-tooltip text {
  fill: var(--highcharts-tooltip-color);
}

.highcharts-tooltip-box {
  fill: var(--highcharts-tooltip-background);
  fill-opacity: 0.9;
}

/**
 * Colors (Default)
 */

.highcharts-color-0,
.highcharts-column-series .highcharts-color-0,
.highcharts-pie-series .highcharts-point.highcharts-color-0 {
  fill: var(--highcharts-color-0);
  stroke: var(--highcharts-color-0);
}

.highcharts-color-1,
.highcharts-column-series .highcharts-color-1,
.highcharts-pie-series .highcharts-point.highcharts-color-1 {
  fill: var(--highcharts-color-1);
  stroke: var(--highcharts-color-1);
}

.highcharts-color-2,
.highcharts-column-series .highcharts-color-2,
.highcharts-pie-series .highcharts-point.highcharts-color-2 {
  fill: var(--highcharts-color-2);
  stroke: var(--highcharts-color-2);
}

.highcharts-color-3,
.highcharts-column-series .highcharts-color-3,
.highcharts-pie-series .highcharts-point.highcharts-color-3 {
  fill: var(--highcharts-color-3);
  stroke: var(--highcharts-color-3);
}

.highcharts-color-4,
.highcharts-column-series .highcharts-color-4,
.highcharts-pie-series .highcharts-point.highcharts-color-4 {
  fill: var(--highcharts-color-4);
  stroke: var(--highcharts-color-4);
}

.highcharts-color-5,
.highcharts-column-series .highcharts-color-5,
.highcharts-pie-series .highcharts-point.highcharts-color-5 {
  fill: var(--highcharts-color-5);
  stroke: var(--highcharts-color-5);
}

.highcharts-color-6,
.highcharts-column-series .highcharts-color-6,
.highcharts-pie-series .highcharts-point.highcharts-color-6 {
  fill: var(--highcharts-color-6);
  stroke: var(--highcharts-color-6);
}

.highcharts-color-7,
.highcharts-column-series .highcharts-color-7,
.highcharts-pie-series .highcharts-point.highcharts-color-7 {
  fill: var(--highcharts-color-7);
  stroke: var(--highcharts-color-7);
}

.highcharts-color-8,
.highcharts-column-series .highcharts-color-8,
.highcharts-pie-series .highcharts-point.highcharts-color-8 {
  fill: var(--highcharts-color-8);
  stroke: var(--highcharts-color-8);
}

.highcharts-color-9,
.highcharts-column-series .highcharts-color-9,
.highcharts-pie-series .highcharts-point.highcharts-color-9 {
  fill: var(--highcharts-color-9);
  stroke: var(--highcharts-color-9);
}

.highcharts-data-label-connector {
  fill: none;
}

/**
 * Legend
 */

.highcharts-legend-item:not(:hover) text {
  opacity: 0.9;
}
