@import "./highcharts.css";

:root {
  --highcharts-color-blue: blue;
  --highcharts-color-blue-dark: darkblue;
  --highcharts-color-cyan: cyan;
  --highcharts-color-cyan-light: lightcyan;
  --highcharts-color-gray: gray;
  --highcharts-color-green: green;
  --highcharts-color-green-dark: darkgreen;
  --highcharts-color-orange: orange;
  --highcharts-color-pink: pink;
  --highcharts-color-purple: purple;
  --highcharts-color-purple-light: violet;
  --highcharts-color-red: red;
  --highcharts-color-white: white;
  --highcharts-color-yellow: yellow;
}
