/** @define Pagination */

:root {
  --Pagination-caret: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cpolyline%20points%3D%228%2C5%2016%2C12%208%2C19%22%20stroke%3D%22currentColor%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%223%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E%0A");
  --Pagination-control-background-size: 1em;
  --Pagination-control-color-disabled: gray;
  --Pagination-control-color-enter: blue;
  --Pagination-control-color: darkblue;
  --Pagination-control-opacity-default: 0.6;
  --Pagination-control-opacity-disabled: 0.3;
  --Pagination-control-opacity-enter: 1;
  --Pagination-control-width: 3em;
  --Pagination-ellipsis-color: gray;
  --Pagination-height: calc(var(--Pagination-pad) * 2 + var(--Pagination-line-height));
  --Pagination-line-height: 1;
  --Pagination-pad: 1em;
  --Pagination-text-decoration: none;
}

/**
 * 1. Arrange items in a horizontally-centered row.
 * 2. Hide overflowing items by wrapping them to a new line outside this
 *    element's bounding box.
 * 3. Condense line heights for easier alignment.
 * 4. Set aside space for next/previous controls.
 * 5. Allow next/previous controls to position themselves relative to this
 *    containing element.
 */

.Pagination {
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  height: var(--Pagination-height); /* 2 */
  justify-content: center; /* 1 */
  line-height: var(--Pagination-line-height); /* 3 */
  overflow: hidden; /* 2 */
  padding-left: var(--Pagination-control-width); /* 4 */
  padding-right: var(--Pagination-control-width); /* 4 */
  position: relative; /* 5 */
}

/**
 * Purely cosmetic adjustment; keeps items aligned without extra whitespace
 * between.
 */

.Pagination-item {
  align-items: baseline;
  display: flex;
}

/**
 * Include a horizontal ellipsis before or after links that jump to first or
 * last page outside the current pagination bounds.
 */

.Pagination-item--first::after,
.Pagination-item--last::before {
  color: var(--Pagination-ellipsis-color);
  content: "…";
  display: inline-block;
  padding-left: calc(var(--Pagination-pad) / 2);
  padding-right: calc(var(--Pagination-pad) / 2);
}

/**
 * Though these are called links, they can also be applied to other elements
 * for consistent spacing.
 */

.Pagination-link {
  display: inline-block;
  padding: var(--Pagination-pad);
}

.Pagination-link:any-link {
  color: var(--Pagination-control-color);
  text-decoration: var(--Pagination-text-decoration);
}

.Pagination-link:any-link:matches(:focus, :hover) {
  color: var(--Pagination-control-color-enter);
}

/**
 * To avoid duplicating elements, next/back controls are actually just children
 * of their respective pages. To maintain inactive controls even when these
 * are absent, we also apply most of the same styles to pseudo elements.
 *
 * 1. Show the pagination icon (rightward by default).
 * 2. Absolute position the control relative to the container.
 * 3. Force visibility for pseudo elements.
 */

.Pagination:not(.Pagination--withPrevious)::before,
.Pagination:not(.Pagination--withNext)::after,
.Pagination-control {
  background-image: var(--Pagination-caret); /* 1 */
  background-position: right center; /* 1 */
  background-repeat: no-repeat; /* 1 */
  background-size: var(--Pagination-control-background-size); /* 1 */
  bottom: 0; /* 2 */
  content: ""; /* 3 */
  opacity: var(--Pagination-control-opacity-default);
  position: absolute; /* 2 */
  right: 0; /* 2 */
  top: 0; /* 2 */
  width: var(--Pagination-control-width); /* 2 */
}

/**
 * Mimic link hover/focus color.
 */

.Pagination-control:matches(:hover, :focus) {
  opacity: var(--Pagination-control-opacity-enter);
}

/**
 * Because pseudo elements should only be visible when there is no next or
 * back link, color these with a different inactive style.
 */

.Pagination:not(.Pagination--withPrevious)::before,
.Pagination:not(.Pagination--withNext)::after {
  opacity: var(--Pagination-control-opacity-disabled);
}

/**
 * 1. Position the "previous" control opposite the "next" control.
 * 2. Flip this element so it will face the opposite direction.
 */

.Pagination:not(.Pagination--withPrevious)::before,
.Pagination-control--previous {
  left: 0; /* 1 */
  right: auto; /* 1 */
  transform: scaleX(-1); /* 2 */
}
