/**
 * @define Blockquote
 *
 * The Baptist Health core `Blockquote` component.
 */

/**
 * These values are the values that can be overridden when extended.
 */

:root {
  --Blockquote-cite-font-size: 0.8em;
  --Blockquote-cite-margin-left: 1em;
}

/**
 * Hanging punctuation (currently only supported in Safari but awesome).
 */

.Blockquote {
  hanging-punctuation: first;
}

/**
 * 1. Make elements display in a row. Cheap way to get emdash hanging on the
 *    left. Also makes it so short citations float right without relying on
 *    right-aligned text (which may look funny).
 * 2. Smaller font-size than preceding quote.
 * 3. Override italic default.
 * 4. Keep _some_ visual indent on the left even if the citation breaks.
 */

.Blockquote-cite {
  display: flex; /* 1 */
  font-size: var(--Blockquote-cite-font-size); /* 2 */
  font-style: normal; /* 3 */
  justify-content: flex-end; /* 1 */
  margin-left: var(--Blockquote-cite-margin-left); /* 4 */
}

/**
 * Fancy em-dash with non-breaking space
 */

.Blockquote-cite::before {
  content: "—\00a0";
}
