/** @define Input */

:root {
  --Input-background-color: transparent;
  --Input-border-color: currentColor;
  --Input-border-radius: 5px;
  --Input-border-width: 2px;
  --Input-color: currentColor;
  --Input-disabled-opacity: 0.5;
  --Input-focus-outline: 1px dotted;
  --Input-font-family: inherit;
  --Input-font-size: inherit;
  --Input-font-weight: inherit;
  --Input-line-height: inherit;
  --Input-padding: 1ex 1em;
  --Input-transition-duration: 0.2s;
  --Input-transition-property: all;
  --Input-transition-timing-function: ease;
}

/**
 * .Input
 *
 * 1. Override webkit styles to ensure component styles persist.
 * 2. Most of the time these will be full width, block elements.
 */

.Input {
  appearance: none; /* 1 */
  background-color: var(--Input-background-color);
  border-color: var(--Input-border-color);
  border-radius: var(--Input-border-radius);
  border-style: solid;
  border-width: var(--Input-border-width);
  box-sizing: border-box;
  color: var(--Input-color);
  display: block; /* 2 */
  font-family: var(--Input-font-family);
  font-size: var(--Input-font-size);
  font-weight: var(--Input-font-weight);
  line-height: var(--Input-line-height);
  padding: var(--Input-padding);
  transition-duration: var(--Input-transition-duration);
  transition-property: var(--Input-transition-property);
  transition-timing-function: var(--Input-transition-timing-function);
  width: 100%; /* 2 */
}

.Input:focus {
  outline: var(--Input-focus-outline);
}

.Input:disabled {
  opacity: var(--Input-disabled-opacity);
}
