/** @define Range */

:root {
  --Range-duration-prompt: 0.2s;
  --Range-thumb-bg: white;
  --Range-thumb-border-color: currentColor;
  --Range-thumb-border-width: 2px;
  --Range-thumb-size: 1.5em;
  --Range-thumb-size-md: 1em;
  --Range-track-bg: currentColor;
  --Range-track-border-radius: 3px;
  --Range-track-height: 4px;
}

/**
 * 1. Resets appearance.
 * 2. Otherwise defaults to white in Chrome.
 * 3. Remove default margin in some browsers.
 * 4. Remove default padding in some browsers.
 * 5. Set up focus transition.
 * 6. Explicit width required for Firefox.
 */

.Range {
  appearance: none; /* 1 */
  background: transparent; /* 2 */
  margin: 0; /* 3 */
  padding: 0; /* 4 */
  transition: filter var(--Range-duration-prompt) var(--Range-duration-prompt); /* 5 */
  width: 100%; /* 6 */
}

/**
 * Custom simplified focus styles
 */

.Range:focus {
  filter: brightness(1.2);
  outline: none;
}

/**
 * Track: Webkit
 */

.Range::-webkit-slider-runnable-track {
  background-color: var(--Range-track-bg);
  border-radius: var(--Range-track-border-radius);
  cursor: pointer;
  height: var(--Range-track-height);
  width: 100%;
}

.Range:focus::-webkit-slider-runnable-track {
  background-color: var(--Range-track-bg);
  outline: none;
}

/**
 * Track: Firefox
 */

.Range::-moz-range-track {
  background-color: var(--Range-track-bg);
  border-radius: var(--Range-track-border-radius);
  cursor: pointer;
  height: var(--Range-track-height);
  width: 100%;
}

/**
 * Track: IE/Edge
 */

.Range::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: calc(var(--Range-thumb-size) / 2) 0;
  color: transparent;
  cursor: pointer;
  height: var(--Range-track-height);
  width: 100%;
}

.Range::-ms-fill-lower,
.Range::-ms-fill-upper {
  background-color: var(--Range-track-bg);
  border-radius: calc(2 * var(--Range-track-border-radius));
}

.Range:focus::-ms-fill-lower,
.Range:focus::-ms-fill-upper {
  background-color: var(--Range-track-bg);
}

/**
 * Thumb
 */

@define-mixin RangeThumb {
  background: var(--Range-thumb-bg);
  border: var(--Range-thumb-border-width) solid var(--Range-thumb-border-color);
  border-radius: 50%;
  cursor: pointer;
  height: var(--Range-thumb-size);
  width: var(--Range-thumb-size);

  @media (--md-viewport) {
    height: var(--Range-thumb-size-md);
    width: var(--Range-thumb-size-md);
  }
}

/**
 * Thumb: Webkit
 *
 * 1. Adjust visual height.
 */

.Range::-webkit-slider-thumb {
  appearance: none;
  transform: translateY(-40%); /* 1 */
  @mixin RangeThumb;
}

/**
 * Thumb: Firefox
 */

.Range::-moz-range-thumb {
  @mixin RangeThumb;
}

/**
 * Thumb: IE/Edge
 *
 * 1. Override inexplicably default positioning.
 */

.Range::-ms-thumb {
  transform: none; /* 1 */
  @mixin RangeThumb;
}
