/**
 * @define Toggle
 *
 * The Baptist Health core `Toggle` component.
 */

/**
 * These values are the values that can be overridden when extended.
 */

:root {
  --Toggle-bg: transparent;
  --Toggle-border-color: currentColor;
  --Toggle-border-radius: 3px;
  --Toggle-border-width: 2px;
  --Toggle-color: rgb(70, 70, 70);
  --Toggle-cursor: pointer;
  --Toggle-disabled-background-color: color(var(--Toggle-color) lightness(+5%));
  --Toggle-disabled-border-color: var(--Toggle-border-color);
  --Toggle-focus-shadow: 0 0 1px 1px color(rgb(0, 0, 0) a(50%));
  --Toggle-line-height: 1.5;
  --Toggle-margin-right: 0.4em;
  --Toggle-padding: 2px;
  --Toggle-radio-border-radius: 50%;
  --Toggle-size: 1.5em;
  --Toggle-transition-property: all;
  --Toggle-transition-duration: 0.2s;
  --Toggle-transition-timing-function: ease;
}

/**
 * 1. Custom cursor style.
 * 2. Display flex for easy management of multiline toggle content.
 * 3. Allow nested elements to position themselves absolutely relative to this
 *    container.
 */

.Toggle {
  cursor: var(--Toggle-cursor); /* 1 */
  display: flex; /* 2 */
  line-height: var(--Toggle-line-height);
  position: relative; /* 3 */
}

/**
 * Hide input without disabling keyboard focus.
 *
 * 1. Practice the ninja art of invisibility.
 * 2. Don't change layout of surrounding elements.
 * 3. Don't overlap other elements.
 */

.Toggle-input {
  opacity: 0; /* 1 */
  position: absolute; /* 2 */
  z-index: -1; /* 3 */
}

/**
 * The visible toggle element. Unopinionated by default, real magic happens
 * in modifiers.
 *
 * 1. Default border.
 * 2. Make sure indicator does not shrink.
 * 3. Size relative to type size and using our modular scale.
 * 4. Define consistent spacing between indicator and content.
 * 5. Allow nested elements to position themselves absolutely relative to this
 *    container.
 * 6. Adjust position for better alignment.
 */

.Toggle-indicator {
  background-color: var(--Toggle-bg);
  border: var(--Toggle-border-width) solid var(--Toggle-border-color); /* 1 */
  border-radius: var(--Toggle-border-radius); /* 1 */
  flex-shrink: 0; /* 2 */
  height: var(--Toggle-size); /* 3 */
  margin-right: var(--Toggle-margin-right); /* 4 */
  position: relative; /* 5 */
  top: calc(-1 * var(--Toggle-border-width)); /* 6 */
  width: var(--Toggle-size); /* 3 */
}

/**
 * The toggle indicator "fill." Uses a pseudo-element instead of background
 * so we can animate its scale (where supported).
 *
 * 1. Pre-set necessary background properties.
 * 2. Fill should have rounded corners if parent does.
 * 3. Position in the center of the containing element with padding.
 * 4. Forces element to display.
 * 5. Start at 0 scale and opacity for animation.
 * 6. Animate property changes.
 */

.Toggle-indicator::after {
  background-color: var(--Toggle-color); /* 1 */
  background-position: center; /* 1 */
  background-size: contain; /* 1 */
  border-radius: inherit; /* 2 */
  bottom: var(--Toggle-padding); /* 3 */
  content: ""; /* 4 */
  left: var(--Toggle-padding); /* 3 */
  opacity: 0; /* 5 */
  position: absolute; /* 3 */
  right: var(--Toggle-padding); /* 3 */
  top: var(--Toggle-padding); /* 3 */
  transform: scale(0); /* 5 */
  transform-origin: center; /* 5 */
  transition-duration: var(--Toggle-transition-duration); /* 6 */
  transition-property: var(--Toggle-transition-property); /* 6 */
  transition-timing-function: var(--Toggle-transition-timing-function); /* 6 */
}

/**
 * Focus state for indicators. Also applies to active (down) state to avoid
 * visual flickering.
 */

.Toggle-input:matches(:focus, :active) ~ .Toggle-indicator {
  box-shadow: var(--Toggle-focus-shadow);
}

/**
 * Checked state of indicator fill.
 */

.Toggle-input:checked ~ .Toggle-indicator::after {
  opacity: 1;
  transform: scale(1);
}

/**
 * Disabled state
 */

.Toggle-input:disabled ~ .Toggle-indicator {
  background-color: var(--Toggle-disabled-background-color);
  border-color: var(--Toggle-disabled-border-color);
  cursor: default;
}

/**
 * Modifier: Radio
 *
 * Indicator is circular.
 */

.Toggle--radio .Toggle-indicator {
  border-radius: var(--Toggle-radio-border-radius);
}
