/**
 * Custom selectors
 */

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--large-headings h1, h2, h3;

/**
 * Core element type styles
 */

:root {
  --body-color: inherit;
  --body-font-family: sans-serif;
  --body-font-size: 1em;
  --body-line-height: 1.44;

  --heading-font-family: sans-serif;
  --heading-font-weight: bold;

  --large-heading-line-height: 1.2;
}

body {
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

:--headings {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
}

:--large-headings {
  line-height: var(--large-heading-line-height);
}
