/** @define FlexEmbed */

@import "suitcss-components-flex-embed";

/**
 * Viewport-specific custom aspect ratio modifiers
 */

/* stylelint-disable plugin/selector-bem-pattern */

@define-mixin makeCustomViewportAspectRatioModifiers $viewport {
  /**
   * Modifier: 3:1 aspect ratio
   */

  .FlexEmbed-ratio--$(viewport)3by1 {
    padding-bottom: calc(100% / 3);
  }

  /**
   * Modifier: 2:1 aspect ratio
   */

  .FlexEmbed-ratio--$(viewport)2by1 {
    padding-bottom: 50%;
  }

  /**
   * Modifier: 16:9 aspect ratio
   */

  .FlexEmbed-ratio--$(viewport)16by9 {
    padding-bottom: 56.25%;
  }

  /**
   * Modifier: 4:3 aspect ratio
   */

  .FlexEmbed-ratio--$(viewport)4by3 {
    padding-bottom: 75%;
  }
}

/* stylelint-enable */

@media (--sm-viewport) {
  @mixin makeCustomViewportAspectRatioModifiers sm-;
}

@media (--md-viewport) {
  @mixin makeCustomViewportAspectRatioModifiers md-;
}

@media (--lg-viewport) {
  @mixin makeCustomViewportAspectRatioModifiers lg-;
}
