/**
 * @define InputExtra
 *
 * The Baptist Health core `InputExtra` component.
 */

:root {
  --InputExtra-glyph-left: 0.8em;
  --InputExtra-glyph-width: 1em;
  --InputExtra-padding-left: 2em;
}

/**
 * Provide a relative positioning context
 * for aligning a symbol within the .Input
 */

.InputExtra {
  position: relative;
}

/**
 * Make room for the symbol
 */

.InputExtra-input {
  padding-left: var(--InputExtra-padding-left);
}

/**
 * 1. Offset from Input edge.
 * 2. Passes clicks/taps on this element to the input itself.
 * 3. Vertically center.
 * 4. Horizontally center.
 */

.InputExtra-glyph {
  left: var(--InputExtra-glyph-left); /* 1 */
  pointer-events: none; /* 2 */
  position: absolute; /* 3 */
  text-align: center; /* 4 */
  top: 50%; /* 3 */
  transform: translateY(-50%); /* 3 */
  width: var(--InputExtra-glyph-width); /* 4 */
}
