/**
 * @define Button
 *
 * The Baptist Health core `Button` component.
 *
 * Inspired by SUIT CSS button component
 * @see: https://github.com/suitcss/components-button
 */

/**
 * These values are the values that can be overridden when extended.
 */

:root {
  --Button-background-color: transparent;
  --Button-border-color: currentColor;
  --Button-border-radius: 5px;
  --Button-border-width: 2px;
  --Button-color: inherit;
  --Button-disabled-opacity: 0.5;
  --Button-font-family: inherit;
  --Button-font-weight: 400;
  --Button-line-height: normal;
  --Button-padding: 1em;
  --Button-transition-duration: 0.2s;
  --Button-transition-property: background;
  --Button-transition-timing-function: ease;
}

/**
 * The button classes are best applied to links and buttons.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

/**
 * 1. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 2. Inherit font styles from ancestor.
 * 3. Normalize `line-height`. For `input`, it can't be changed from `normal` in
 *    Firefox 4+.
 * 4. Prevent button text from being selectable.
 */

.Button {
  background: var(--Button-background-color);
  border-color: var(--Button-border-color);
  border-radius: var(--Button-border-radius);
  border-style: solid;
  border-width: var(--Button-border-width);
  box-sizing: border-box; /* 1 */
  color: var(--Button-color);
  cursor: pointer;
  display: inline-block;
  font: inherit; /* 2 */
  font-family: var(--Button-font-family);
  font-weight: var(--Button-font-weight);
  line-height: var(--Button-line-height); /* 3 */
  margin: 0;
  padding: var(--Button-padding);
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: var(--Button-transition-duration);
  transition-property: var(--Button-transition-property);
  transition-timing-function: var(--Button-transition-timing-function);
  user-select: none; /* 4 */
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: var(--Button-disabled-opacity);
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

.Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
