/**
* @define Icon
*
* The Baptist Health core `Icon` component.
*/

/**
 * These values are the values that can be overridden when extended.
 *
 * Used for the size modifiers.
 */

:root {
  --Icon--grow1-size: 1.5;
  --Icon--grow2-size: 1.8;
  --Icon-animation-duration: 0.1s;
  --Icon-animation-easing: easeInOutQuart;
}

/**
 * 1. Most SVG elements default to `fill="black"`. This is a friendlier default.
 * 2. Dimensions match type size.
 */

.Icon {
  fill: currentColor; /* 1 */
  height: 1em; /* 2 */
  stroke: currentColor; /* 1 */
  stroke-width: 0;
  width: 1em; /* 2 */
}

/**
 * Apply inline defaults without requiring overrides for block occurrences.
 *
 * 1. Flow with text content.
 * 2. Fine-tune vertical alignment (5).
 * 3. Align with middle of x-height.
 */

.Icon:not(.Icon--block) {
  display: inline-block; /* 1 */
  position: relative; /* 2 */
  top: -1px; /* 2 */
  vertical-align: middle; /* 3 */
}

/**
 * Modifier: Block
 */

.Icon--block {
  display: block;
}

/**
 * Dimensions are determined by element font size.
 */

.Icon--grow1 {
  font-size: calc(1em * var(--Icon--grow1-size));
}

/**
 * 1. We minimize impact on the bounding box by applying negative margin equal
 *    to the amount we've increased the element's size.
 * 2. We've minimized the icon's bounding box (2) but it will appear off-center.
 *    This step offsets it visually without impacting layout using both the
 *    size and offset proportions.
 */

.Icon--grow1:not(.Icon--block) {
  margin-bottom: calc(-1em * (var(--Icon--grow1-size) - 1)); /* 1 */
  top: calc(-1em * (var(--Icon--grow1-size) - 1) / var(--Icon--grow1-size)); /* 2 */
}

.Icon--grow2 {
  font-size: calc(1em * var(--Icon--grow2-size));
}

.Icon--grow2:not(.Icon--block) {
  margin-bottom: calc(-1em * (var(--Icon--grow2-size) - 1));
  top: calc(-1em * (var(--Icon--grow2-size) - 1) / var(--Icon--grow2-size));
}

/**
 * Dynamic Icon Descendants
 *
 * Animate individual SVG elements when the `is-on` class is toggled on the
 * containing `Icon` element.
 *
 * Intended use: animate a hamburger icon (parallel lines)
 * to a close icon (crossed lines) via the `is-on` modifier.
 */

.Icon-rotate1of8,
.Icon-rotateCounter1of8,
.Icon-scaleIn,
.Icon-scaleOut {
  transform-origin: center;
  transition: var(--Icon-animation-duration) var(--Icon-animation-easing);
  transition-property: transform, opacity;
}

.Icon.is-on .Icon-hide,
.Icon:not(.is-on) .Icon-show {
  opacity: 0;
}

.Icon.is-on .Icon-rotate1of8 {
  transform: rotate(45deg);
}

.Icon.is-on .Icon-rotateCounter1of8 {
  transform: rotate(-45deg);
}

.Icon.is-on .Icon-scaleOut,
.Icon:not(.is-on) .Icon-scaleIn {
  transform: scale(0);
}
