/**
 * @define ListGroup
 *
 * The Baptist Health core `ListGroup` component.
 */

:root {
  --ListGroup-border-color: currentColor;
  --ListGroup-border-style: solid;
  --ListGroup-border-width: 2px;
  --ListGroup-padding-y: 0.75em;
}

/**
 * Core component styles
 */

.ListGroup {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * 1. Add a top border to adjacent items
 */

.ListGroup-item + .ListGroup-item {
  border-top:
    var(--ListGroup-border-style)
    var(--ListGroup-border-color)
    var(--ListGroup-border-width); /* 1 */
}

/**
 * 1. Make inline elements fill the space
 * 2. Cell space
 */

.ListGroup-itemContent {
  display: block; /* 1 */
  padding-bottom: var(--ListGroup-padding-y); /* 2 */
  padding-top: var(--ListGroup-padding-y); /* 2 */
}
