/** @define InputGroup */

:root {
  --InputGroup-border-radius: 5px;
  --InputGroup-overlap: 2px;
}

/**
 * 1. Enforce equal heights among cells.
 * 2. Fill width and smoosh cells together.
 */

.InputGroup {
  align-items: stretch; /* 1 */
  display: flex; /* 2 */
}

/**
 * Cells (probably inputs and buttons)
 *
 * 1. Clear rounded corners for most cells (assuming adjacent).
 * 2. Allow overlap z-index to be manipulated for pseudo states.
 */

.InputGroup-cell {
  border-radius: 0; /* 1 */
  position: relative; /* 2 */
}

/**
 * Apply consistent rounded corners to first and last cells.
 */

.InputGroup-cell:first-child {
  border-bottom-left-radius: var(--InputGroup-border-radius);
  border-top-left-radius: var(--InputGroup-border-radius);
}

.InputGroup-cell:last-child {
  border-bottom-right-radius: var(--InputGroup-border-radius);
  border-top-right-radius: var(--InputGroup-border-radius);
}

/**
 * Overlap adjacent borders.
 */

.InputGroup-cell + .InputGroup-cell {
  margin-left: calc(var(--InputGroup-overlap) * -1);
}
