/** @define Select */

:root {
  --Select-background-color: transparent;
  --Select-border-color: currentColor;
  --Select-border-radius: 5px;
  --Select-border-width: 2px;
  --Select-caret: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E %3Cpolyline points='1.5,5 8,11 14.5,5' stroke='%23000' stroke-linecap='round' stroke-width='3' fill='none'/%3E %3C/svg%3E");
  --Select-caret-size: 1em;
  --Select-caret-offset: 1em;
  --Select-color: currentColor;
  --Select-disabled-opacity: 0.5;
  --Select-font-family: inherit;
  --Select-font-size: inherit;
  --Select-font-weight: inherit;
  --Select-line-height: inherit;
  --Select-transition-duration: 0.2s;
  --Select-transition-property: all;
  --Select-transition-timing-function: ease;
  --Select-padding: 1ex 1em;
}

/**
 * 1. Remove default select appearance
 * 2. Add caret as background image
 * 3. Position the caret offset right and center
 * 4. Size the caret relative to font-size
 * 5. Most of the time these will be full width, block elements.
 * 6. Add extra padding on the right to account for caret
 */

.Select {
  appearance: none; /* 1 */
  background-color: var(--Select-background-color);
  background-image: var(--Select-caret); /* 2 */
  background-position: right var(--Select-caret-offset) center;
  background-repeat: no-repeat; /* 3 */
  background-size: var(--Select-caret-size) var(--Select-caret-size); /* 4 */
  border-color: var(--Select-border-color);
  border-radius: var(--Select-border-radius);
  border-style: solid;
  border-width: var(--Select-border-width);
  box-sizing: border-box;
  color: var(--Select-color);
  display: block; /* 5 */
  font-family: var(--Select-font-family);
  font-size: var(--Select-font-size);
  font-weight: var(--Select-font-weight);
  line-height: var(--Select-line-height);
  padding: var(--Select-padding);
  padding-right: calc(var(--Select-caret-offset) + var(--Select-caret-size)); /* 6 */
  transition-duration: var(--Select-transition-duration);
  transition-property: var(--Select-transition-property);
  transition-timing-function: var(--Select-transition-timing-function);
  width: 100%; /* 5 */
}

.Select:disabled {
  opacity: var(--Select-disabled-opacity);
}

/**
 * Hide redundant arrow in IE10+
 */

.Select::-ms-expand {
  display: none;
}
