/** @define Collapse */

:root {
  --Collapse-fx-duration: 300ms;
  --Collapse-fx-easing: ease;
}

/**
 * 1. Keep absolute-positioned children from drifting away.
 */

.Collapse {
  position: relative; /* 1 */
}

/**
 * Hide input without disabling keyboard focus.
 *
 * 1. Practice the ninja art of invisibility.
 * 2. Don't change layout of surrounding elements.
 * 3. Don't overlap other elements.
 */

.Collapse-input {
  opacity: 0; /* 1 */
  position: absolute; /* 2 */
  z-index: -1; /* 3 */
}

/**
 * 1. Make label appear interactive on hover.
 * 2. Make label act like a block element.
 */

.Collapse-label {
  cursor: pointer; /* 1 */
  display: block; /* 2 */
}

/**
 * Optional iconographic indication of Collapse state.
 *
 * 1. Pre-set transition properties.
 */

.Collapse-indicator {
  transition-duration: var(--Collapse-fx-duration); /* 1 */
  transition-property: opacity, transform; /* 1 */
  transition-timing-function: var(--Collapse-fx-easing); /* 1 */
}

/**
 * Indicator animated state.
 */

.Collapse-input:checked ~ .Collapse-indicator,
.Collapse-input:checked ~ .Collapse-label .Collapse-indicator {
  transform: rotate(-45deg);
}

/**
 * Hide content unless the input is checked.
 */

.Collapse-input:not(:checked) ~ .Collapse-content {
  display: none;
}
